useDynLib(MGCS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(Rsamtools)
import(seqinr)
import(stringr)
importFrom(IRanges,IRanges)
importFrom(IRanges,start)
importFrom(IRanges,end)
importFrom(IRanges,width)
import(data.table)
importFrom(Biostrings,readDNAStringSet)
